      .bf-background-navy-200
      { background-color: #E5EAF1; }
      .bf-color-navy-200
      { color: #E5EAF1 }
      .bf-background-lava-200
      { background-color: #F8DEDC; }
      .bf-color-lava-200
      { color: #F8DEDC }
      .bf-background-blue-500
      { background-color: #4299E0; }
      .bf-color-blue-500
      { color: #4299E0 }
      .bf-background-navy-800
      { background-color: #1B3139; }
      .bf-color-navy-800
      { color: #1B3139 }
      .bf-background-green-100
      { background-color: #DCF4ED; }
      .bf-color-green-100
      { color: #DCF4ED }
      .bf-background-blue-700
      { background-color: #0E538B; }
      .bf-color-blue-700
      { color: #0E538B }
      .bf-background-lava-800
      { background-color: #801C17; }
      .bf-color-lava-800
      { color: #801C17 }
      .bf-background-yellow-700
      { background-color: #BA7B23; }
      .bf-color-yellow-700
      { color: #BA7B23 }
      .bf-background-blue-300
      { background-color: #BAE1FC; }
      .bf-color-blue-300
      { color: #BAE1FC }
      .bf-background-green-300
      { background-color: #9ED6C4; }
      .bf-color-green-300
      { color: #9ED6C4 }
      .bf-background-lava-300
      { background-color: #FABFBA; }
      .bf-color-lava-300
      { color: #FABFBA }
      .bf-background-blue-400
      { background-color: #8ACAFF; }
      .bf-color-blue-400
      { color: #8ACAFF }
      .bf-background-yellow-300
      { background-color: #FFDB96; }
      .bf-color-yellow-300
      { color: #FFDB96 }
      .bf-background-maroon-400
      { background-color: #BF7080; }
      .bf-color-maroon-400
      { color: #BF7080 }
      .bf-background-green-400
      { background-color: #70C4AB; }
      .bf-color-green-400
      { color: #70C4AB }
      .bf-background-blue-800
      { background-color: #04355D; }
      .bf-color-blue-800
      { color: #04355D }
      .bf-background-green-500
      { background-color: #42BA91; }
      .bf-color-green-500
      { color: #42BA91 }
      .bf-background-yellow-200
      { background-color: #FFE6B8; }
      .bf-color-yellow-200
      { color: #FFE6B8 }
      .bf-background-green-600
      { background-color: #00A972; }
      .bf-color-green-600
      { color: #00A972 }
      .bf-background-lava-700
      { background-color: #BD2B26; }
      .bf-color-lava-700
      { color: #BD2B26 }
      .bf-background-maroon-600
      { background-color: #98102A; }
      .bf-color-maroon-600
      { color: #98102A }
      .bf-background-blue-100
      { background-color: #F0F8FF; }
      .bf-color-blue-100
      { color: #F0F8FF }
      .bf-background-maroon-700
      { background-color: #730D21; }
      .bf-color-maroon-700
      { color: #730D21 }
      .bf-background-maroon-200
      { background-color: #EAC0C7; }
      .bf-color-maroon-200
      { color: #EAC0C7 }
      .bf-background-gray-text
      { background-color: #5A6F77; }
      .bf-color-gray-text
      { color: #5A6F77 }
      .bf-background-green-800
      { background-color: #095A35; }
      .bf-color-green-800
      { color: #095A35 }
      .bf-background-yellow-800
      { background-color: #7D5319; }
      .bf-color-yellow-800
      { color: #7D5319 }
      .bf-background-oat-light
      { background-color: #F9F7F4; }
      .bf-color-oat-light
      { color: #F9F7F4 }
      .bf-background-maroon-500
      { background-color: #AB4057; }
      .bf-color-maroon-500
      { color: #AB4057 }
      .bf-background-yellow-100
      { background-color: #FFF0D3; }
      .bf-color-yellow-100
      { color: #FFF0D3 }
      .bf-background-green-700
      { background-color: #00875C; }
      .bf-color-green-700
      { color: #00875C }
      .bf-background-navy-700
      { background-color: #143D4A; }
      .bf-color-navy-700
      { color: #143D4A }
      .bf-background-maroon-300
      { background-color: #D69EA8; }
      .bf-color-maroon-300
      { color: #D69EA8 }
      .bf-background-lava-500
      { background-color: #FF5F46; }
      .bf-color-lava-500
      { color: #FF5F46 }
      .bf-background-navy-300
      { background-color: #C4CCD6; }
      .bf-color-navy-300
      { color: #C4CCD6 }
      .bf-background-yellow-600
      { background-color: #FFAB00; }
      .bf-color-yellow-600
      { color: #FFAB00 }
      .bf-background-maroon-800
      { background-color: #4A121A; }
      .bf-color-maroon-800
      { color: #4A121A }
      .bf-background-maroon-100
      { background-color: #F8D5DC; }
      .bf-color-maroon-100
      { color: #F8D5DC }
      .bf-background-lava-100
      { background-color: #FAECEB; }
      .bf-color-lava-100
      { color: #FAECEB }
      .bf-background-navy-400
      { background-color: #90A5B1; }
      .bf-color-navy-400
      { color: #90A5B1 }
      .bf-background-navy-100
      { background-color: #EDF2F8; }
      .bf-color-navy-100
      { color: #EDF2F8 }
      .bf-background-lava-400
      { background-color: #FF9E94; }
      .bf-color-lava-400
      { color: #FF9E94 }
      .bf-background-white
      { background-color: #FFFFFF; }
      .bf-color-white
      { color: #FFFFFF }
      .bf-background-gray-lines
      { background-color: #DCE0E2; }
      .bf-color-gray-lines
      { color: #DCE0E2 }
      .bf-background-yellow-500
      { background-color: #FCBA33; }
      .bf-color-yellow-500
      { color: #FCBA33 }
      .bf-background-blue-200
      { background-color: #D7EDFE; }
      .bf-color-blue-200
      { color: #D7EDFE }
      .bf-background-navy-500
      { background-color: #618794; }
      .bf-color-navy-500
      { color: #618794 }
      .bf-background-oat-medium
      { background-color: #EEEDE9; }
      .bf-color-oat-medium
      { color: #EEEDE9 }
      .bf-background-navy-600
      { background-color: #1B5162; }
      .bf-color-navy-600
      { color: #1B5162 }
      .bf-background-blue-600
      { background-color: #2272B4; }
      .bf-color-blue-600
      { color: #2272B4 }
      .bf-background-yellow-400
      { background-color: #FFCC66; }
      .bf-color-yellow-400
      { color: #FFCC66 }
      .bf-background-gray-navigation
      { background-color: #303F47; }
      .bf-color-gray-navigation
      { color: #303F47 }
      .bf-background-green-200
      { background-color: #BAE9DA; }
      .bf-color-green-200
      { color: #BAE9DA }
