      .bf-background-gray-text
      { background-color: #5A6F77; }
      .bf-color-gray-text
      { color: #5A6F77 }
      .bf-background-navy-900-primary
      { background-color: #0B2026; }
      .bf-color-navy-900-primary
      { color: #0B2026 }
      .bf-background-oat-light
      { background-color: #F9F7F4; }
      .bf-color-oat-light
      { color: #F9F7F4 }
      .bf-background-lava-600-primary
      { background-color: #FF3621; }
      .bf-color-lava-600-primary
      { color: #FF3621 }
      .bf-background-white
      { background-color: #FFFFFF; }
      .bf-color-white
      { color: #FFFFFF }
      .bf-background-gray-lines
      { background-color: #DCE0E2; }
      .bf-color-gray-lines
      { color: #DCE0E2 }
      .bf-background-oat-medium
      { background-color: #EEEDE9; }
      .bf-color-oat-medium
      { color: #EEEDE9 }
      .bf-background-gray-navigation
      { background-color: #303F47; }
      .bf-color-gray-navigation
      { color: #303F47 }
